* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0px;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-rows: 150px 1fr 150px;
    height: 100vh;
}

.header {
    background-color: beige;
}

.main {
    background-color: chocolate;
}

.footer {
    background-color: antiquewhite;
}

.card-folder {
    display: grid;
}

.card-item {
    background-color: lightgray;
    /* width: 200px; */
    height: 200px;
    overflow: auto;
    padding: 10px;
    border-left: solid 10px orange;
    border-radius: 5px;
    /* position: relative; */
}